.contact-card {
  max-width: 558px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
  border: solid 1px #dee2e6;
}

.contact-card-body {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contact-card-tags {
  margin-top: 20px;
  position: relative;
  left: 76px;
  max-width: 400px;
}

svg:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 768px) {
  .contact-card-body {
    min-width: 328px;
  }

  .contact-card-tags {
    max-width: 300px;
  }
}
