.contact-form-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: var(--contact-form-width);
  background-color: var(--main-white-color);
  padding: 10px;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .contact-form-container {
    position: relative;
    height: fit-content;
  }
}
