.contact-card {
  max-width: var(--conact-card-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
  border: solid 1px var(--border-color);
}

.contact-card-body {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contact-card-tags {
  margin-top: 20px;
  position: relative;
  left: 76px;
  max-width: var(--tags-width);
}

svg:hover {
  transform: scale(1.08);
}

@media screen and (max-width: var(--tablet-width)) {
  .contact-card-body {
    min-width: var(--conact-card-width-tablet);
  }

  .contact-card-tags {
    max-width: var(--tags-width-tablet);
  }
}
