@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --max-app-width: 1280px;
  --min-app-width: 400px;
  --tablet-width: 768px;
  --conact-card-width: 558px;
  --conact-card-width-tablet: 328px;
  --tags-width: 400px;
  --tags-width-tablet: 300px;
  --contact-form-width: 280px;
  --contact-page-width: 430px;

  --border-color: #dee2e6;
  --main-white-color: #fff;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control:focus {
  border-color: #dee2e6;
  box-shadow: none;
}

.form-control::placeholder {
  color: #ced4da;
}
